@model SpentBook.Web.Models.DashboardModel

@{
    ViewBag.Title = Model.Dashboard.Name;
}

<div id="title-and-buttons">
    <h2>@ViewBag.Title</h2>
    @*<a href="#modal-new-panel" class="btn btn2 no-action">+ Painel</a>*@
    @Html.ActionLink("+ Painel", "Create", "Panel", new { dashboardId = Model.Dashboard.Id }, new { @class = "btn btn2 no-action" })
</div>

<div id="modal-new-panel" class="modalDialog">
    
</div>

<div id="box-container">
    @*@if (Model.Dashboard.Panels != null && Model.Dashboard.Panels.Count > 0)
    {
        <div>
            @foreach (var panel in Model.Dashboard.Panels)
            {
                
            }
        </div>
    }
    else
    {
        <span>Você ainda não criou nenhum painel!</span>
    }*@
    
    

    <style type="text/css">
        /* show the move cursor as the user moves the mouse over the panel header.*/
        #draggablePanelList .panel-heading {
            cursor: move;
        }
    </style>

    <!-- Bootstrap 3 panel list. -->
    <ul id="draggablePanelList" class="list-unstyled">
        <li class="panel panel-info">
            <div class="panel-heading">You can drag this panel.</div>
            <div class="panel-body">Content Content Content Content Content Content Content ContentContent ContentContentContentContentContentContentContentContentContent Content Content Content Content Content ...</div>
        </li>
        <li class="panel panel-info">
            <div class="panel-heading">You can drag this panel.</div>
            <div class="panel-body">Content Content Content Content Content Content Content ContentContent ContentContentContentContentContentContentContentContentContent Content Content Content Content Content ...</div>
        </li>
        <li class="panel panel-info">
            <div class="panel-heading">You can drag this panel.</div>
            <div class="panel-body">Content Content Content ContentContentContentContentContentContentContent ContentContent Content Content Content</div>
        </li>
        <li class="panel panel-info">
            <div class="panel-heading">You can drag this panel too.</div>
            <div class="panel-body">Content ...</div>
        </li>
        <li class="panel panel-info">
            <div class="panel-heading">You can drag this panel too.</div>
            <div class="panel-body">Content ...</div>
        </li>
    </ul>
</div>

<div class="clearfix"></div>

@section Styles
{
    @Styles.Render("~/Content/css/jqueryui")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/Custom/Dashboard")
    @Scripts.Render("~/bundles/Custom/ChartHelper")
}