@model SpentBook.Web.Models.DashboardModel

@{
    ViewBag.Title = Model.Dashboard.Name;
}

<div id="title-and-buttons">
    <h2>@ViewBag.Title</h2>
    @*<a href="#modal-new-panel" class="btn btn2 no-action">+ Painel</a>*@
    @Html.ActionLink("+ Painel", "Create", "Panel", new { dashboardId = Model.Dashboard.Id }, new { @class = "btn btn2 no-action" })
    <a href="javascript: Dashboard.UpdateAllPanels();" class="btn btn2 no-action">Atualizar</a>
</div>

<div id="modal-new-panel" class="modalDialog">
    
</div>

<div id="content-panels">
    <ul id="sortable">

    </ul>

    <div id="empty-panels" class="collapse">
        <span>Você ainda não criou nenhum painel!</span>
    </div>

    @*@if (Model.Dashboard.Panels == null || Model.Dashboard.Panels.Count == 0)
    {
        <div class="empty-panels">
            <span>Você ainda não criou nenhum painel!</span>
        </div>
    }*@
</div>

<div class="clearfix"></div>

@section Styles
{
    @Styles.Render("~/Content/css/jqueryui")
    @Styles.Render("~/Content/css/treegrid")
}

@section ScriptsTop {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/Custom/Dashboard")
    @Scripts.Render("~/bundles/jquery-treegrid")
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/custom/highcharts-helper")
}

@section Scripts {
    <script language="javascript">
        Dashboard.Id = '@Model.Dashboard.Id.ToString()';        
        Dashboard.Context = $("#content-panels #sortable");
        Dashboard.EmptyContext = $("#content-panels #empty-panels");
        Dashboard.UrlChangePanelOrder = '/Panel/ChangePanelOrder';
        Dashboard.UrlPanelView = '/Panel/Details';
        Dashboard.UrlPanelsUpdated = '/JsonData/Panels';
    </script>
}