@model SpentBook.Web.Models.DashboardModel

@{
    ViewBag.Title = Model.Dashboard.Name;
}

<div id="title-and-buttons">
    <h2>@ViewBag.Title</h2>
    @*<a href="#modal-new-panel" class="btn btn2 no-action">+ Painel</a>*@
    @Html.ActionLink("+ Painel", "Create", "Panel", new { dashboardId = Model.Dashboard.Id }, new { @class = "btn btn2 no-action" })
</div>

<div id="modal-new-panel" class="modalDialog">
    
</div>

<div id="content-panels">
    @if (Model.Dashboard.Panels != null && Model.Dashboard.Panels.Count > 0)
    {
        <div>
            <ul id="draggablePanelList" class="list-unstyled"></ul>
        </div>
    }
    else
    {
        <span>Você ainda não criou nenhum painel!</span>
    }
</div>

<div class="clearfix"></div>

@section Styles
{
    @Styles.Render("~/Content/css/jqueryui")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/Custom/Dashboard")
    @*@Scripts.Render("~/bundles/Custom/ChartHelper")*@

    <script>
        Dashboard.Id = '@Model.Dashboard.Id.ToString()';
        Dashboard.Context = $("#content-panels #draggablePanelList");
    </script>
}