@model SpentBook.Domain.TransactionGroup

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Total</th>
            <th>Categoria</th>
            <th>Sub-Categoria</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Total</strong></td>
            <td>-</td>
            <td><strong>@Model.Total</strong></td>
            <td>-</td>
            <td>-</td>
        </tr>

        @foreach (var group in Model.SubGroups)
        {
            foreach (var transaction in group.Transactions)
            {
                <tr>
                    <td>@transaction.Name</td>
                    <td>@transaction.Date</td>
                    <td>@transaction.Value</td>
                    <td>@transaction.Category</td>
                    <td>@transaction.SubCategory</td>
                </tr>
            }
        }

        
    </tbody>
</table>