@model SpentBook.Web.Models.PanelModel

<div class="panel-heading clearfix">
    <h4 class="panel-title pull-left">@Model.Title</h4>

    <div class="btn-group pull-right panel-actions">
        <button type="button" class="btn btn-default btn-xs btn-edit">
            <span class="glyphicon glyphicon-edit" aria-hidden="true">
                @Html.ActionLink("edit", "Edit", "Panel", new { dashboardId = @Model.Dashboard.Id, panelId = Model.Id }, new { @class = "collapse" })
            </span>
        </button>

        <button type="button" class="btn btn-default btn-xs btn-delete">
            <span class="glyphicon glyphicon-trash" aria-hidden="true">
                @Html.ActionLink("delete", "Delete", "Panel", new { dashboardId = @Model.Dashboard.Id, panelId = Model.Id }, new { @class = "collapse" })
            </span>
        </button>
    </div>
</div>

<div class="panel-body">
    @if (Model.PanelType == SpentBook.Domain.PanelType.ChartBar)
    { 
        <div id="chart-@Model.Id">
            @switch (Model.Panel.GetChartType())
            {
                case SpentBook.Domain.Panel.PanelChartType.NonGroup:
                case SpentBook.Domain.Panel.PanelChartType.NonGroupAndSortDate:
                    @Html.Partial("~/Views/Templates/Charts/Lines.cshtml", Model)
                    break;
                case SpentBook.Domain.Panel.PanelChartType.OneGroup:
                case SpentBook.Domain.Panel.PanelChartType.TwoGroup:
                case SpentBook.Domain.Panel.PanelChartType.ThreeOrMoreGroup:
                @Html.Partial("~/Views/Templates/Charts/Columns.cshtml", Model)
                    break;
            }

            <div class="content-chart">

            </div>
        </div>
    }
    
    @if (Model.PanelType == SpentBook.Domain.PanelType.Table)
    {
        <div id="table-@Model.Id">
            <script language="javascript">
                $(document).ready(function () {
                    $.ajax({
                        url: '/JsonData/TransactionsTable',
                        type: "GET",
                        dataType: "json",
                        data: { dashboardId: '@Model.Dashboard.Id', panelId: '@Model.Id', tryCategorize: false },
                        success: function (json) {
                            var wrapper = $('#table-@Model.Id .content-table');
                            wrapper.html(json.Table);
                            wrapper.find("table").treegrid();
                        },
                        cache: false
                    });
                });
            </script>

            <div class="content-table">

            </div>
        </div>
    }
</div>

@section ScriptsTop {
    @Scripts.Render("~/bundles/jquery-treegrid")
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/custom/highcharts-helper")

}

@section styles {
    @Styles.Render("~/Content/css/treegrid")
}